html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li, header,footer,nav
{
margin:0;
padding:0;
}


body
{
	background-color:grey;
}
 div#container
{
	width:100%;
	border:3px dashed blue;
	background-color:cornflowerblue;
}

header
{
	width:94%;
	padding:50px;
	background-color: skyblue;
}

header img#applogo{
    display: block;
    margin:auto;
    width:200px;
}

header h1
{
	color:#2e00aa;
    text-align:center;
	font-family: 'sans-serif', sans-serif;
	font-size:2.5em;
    
    
}

div#content{
	width:100%;
	background-color:dodgerblue;
    
}


.icon-bar {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding:12px 0;
    transition:all 0.3s ease;
    color: white;
    font-size:36px;
}

.icon-bar a:hover{
    background-color:darkgray;
}

.active {
    background: cornflowerblue;
}

div#product_grp{
    max-width:80%;
    min-width:20%;
    margin:auto;
}

figure.product{
    float:left;
    margin: 10px;
    min-width:30%;
    max-width:50%;
    background color:floralwhite
    border-radius:5%;
}
figure.product img{
    display:block;
    padding: 10px 0;
    width:80%;
    margin: auto;
    
}
figure.product figcaption{
    text-align: center;
    color: white;
    font-family:sans-serif;
    font-size:24px;
}

